<form autocomplete="off" onsubmit="event.preventDefault();">
<div class="exclusions">
  <div class="description">{{localize "mtte.clickToCloseManage"}}</div>
  <div class="sources">
    <table>
    <tr>
      <th class="creator"></td>
      <th class="pack">{{localize "mtte.pack"}}</td>
      <th class="actions">{{localize "mtte.actions"}}</td>
    </tr>
    {{#unless exclusions }}<tr><td class="success" colspan="3"><center><em>{{localize "mtte.allContentVisible"}}</em></center></td></tr>{{/unless}}
    {{#each exclusions as |e|}}
      {{#if e.packs }}
        {{#each e.packs as |p|}}
        <tr>
          <td class="creator">{{e.name}}</td>
          <td class="packs">{{p.name}}</td>
          <td class="actions"><a data-creator="{{e.name}}" data-pack="{{p.id}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {{/each}}
      {{/if}}
      {{#unless e.packs }}
        <tr>
          <td class="creator">{{e.name}}</td>
          <td class="packs">{{localize "mtte.allPacks"}}</td>
          <td class="actions"><a data-creator="{{e.name}}" data-pack="*"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
      {{/unless}}
    {{/each}}
    </table>
  </div>
  <footer>
  <div class="actions">
    <button class="export"><i class="fas fa-file-export"></i> {{localize "mtte.exportConfig"}}</button>
    <button class="import"><i class="fas fa-file-import"></i> {{localize "mtte.importConfig"}}</button>
  </div>
  </footer>
</div>
</form>