<form autocomplete="off" onsubmit="event.preventDefault();">
  {{#unless user.fullName}}
  <p>{{localize "mtte.patreonWelcome"}}</p>
  <p>
    <div class="error">{{localize "mtte.patreonDescription"}}</div>
  </p>
  {{/unless}}
  <div class="module">
    {{#if user.fullName}}
    <p><a href="{{url}}" target="_blank"><button class="login"><i class="fab fa-patreon"></i> {{localize "mtte.reauthenticate"}}</button></a></p>
    <p><button class="logout"><i class="fas fa-unlink"></i> {{localize "mtte.disconnect"}}</button></p>
    {{/if}}
    {{#unless user.fullName}}
    <p><a href="{{url}}" target="_blank"><button class="login"><i class="fab fa-patreon"></i> 1 - {{localize "mtte.authenticate"}}</button></a></p>
    {{/unless}}
  </div>
  
  <div class="module desc">
    {{#if user.fullName}}
    {{localize "mtte.patreonLinked"}}
    <ul>
    <li>{{user.fullName}} {{#if user.vanity}}({{user.vanity}}){{/if}}</li>
    {{#if user.patron}}
    <li>{{localize "mtte.patron"}} <i class="fas fa-heart red"></i> ({{user.patron}})</li>
    {{/if}}
    </ul>
    {{/if}}
    
    {{#unless user.fullName}}
    <p><button class="continue"><i class="fas fa-arrow-alt-circle-right"></i>2 - {{localize "mtte.continue"}}</button></p>
    {{/unless}}
  </div>
  
  {{#unless user.fullName}}
  <p><em>
    <a href="https://github.com/SvenWerlen/moulinette-core">{{localize "mtte.seeDoc"}}</a> {{localize "mtte.learnMore"}}
  </em></p>
  {{/unless}}
  
</form>
