<form autocomplete="off" onsubmit="event.preventDefault();">

<div class="body">
  <div class="header">
    {{{localize "mtte.sourcesDescription"}}}
  </div>

  <div class="main">
    <div class="sources">
      <table>
      <tr>
        <th class="auto"></td>
        <th class="type">{{localize "mtte.type"}}</td>
        <th class="creator">{{localize "mtte.publisher"}}</td>
        <th class="pack">{{localize "mtte.pack"}}</td>
        <th class="source">{{localize "mtte.source"}}</td>
        <th class="path">{{localize "mtte.path"}}</td>
        <th class="path">{{localize "mtte.filters"}}</td>
        <th class="actions">{{localize "mtte.actions"}}</td>
      </tr>
      {{#each sources as |s|}}
      <tr class="source {{#unless s.enabled}}inactive{{/unless}}" data-idx="{{@index}}">
        <td class="auto">
          {{#unless s.immuable}}
            {{#if s.auto}}<i class="fas fa-cube"></i>{{/if}}
            {{#unless s.auto}}<i class="fas fa-user"></i>{{/unless}}
          {{/unless}}
        </td>
        <td class="type">{{s.type}}</td>
        <td class="creator">{{s.creator}}</td>
        <td class="pack">{{s.pack}}</td>
        <td class="source">{{s.source}}</td>
        <td class="path">{{s.path}}</td>
        <td class="filters">{{#unless s.filters}}-{{/unless}}{{#if s.filters}}{{s.filters}}{{/if}}</td>
        <td class="actions">
          {{#unless s.immuable}}
            <a class="toggle" title="{{localize "mtte.toggleSource"}}"><i class="fas fa-eye{{#unless s.enabled}}-slash{{/unless}}"></i></a>
            <a class="edit" title="{{localize "mtte.editSource"}}"><i class="fas fa-edit"></i></a>
            <a class="forceIndex" title="{{#if s.forceRefresh}}{{localize "mtte.sourceForceRefresh"}}{{/if}}{{#unless s.forceRefresh}}{{localize "mtte.sourceNoRefresh"}}{{/unless}}">
              <i class="fas {{#if s.forceRefresh}}fa-sync{{/if}}{{#unless s.forceRefresh}}fa-history{{/unless}}"></i>
            </a>
            {{#if s.custom}}
              <a class="reset" title="{{localize "mtte.resetSource"}}"><i class="fas fa-broom"></i></a>
            {{/if}}
            {{#unless s.auto}}
              <a class="delete" title="{{localize "mtte.deleteSource"}}"><i class="fas fa-trash"></i></a>
            {{/unless}}
          {{/unless}}
        </td>
      </tr>
      {{/each}}
      </table>
      <div class="exports">
        <button class="index"><i class="fas fa-sync"></i> {{localize "mtte.index"}}</button>
        <button class="clearIndex"><i class="fas fa-trash"></i> {{localize "mtte.clearIndex"}}</button>
        <button class="export"><i class="fas fa-file-export"></i> {{localize "mtte.exportConfig"}}</button>
        <button class="import"><i class="fas fa-file-import"></i> {{localize "mtte.importConfig"}}</button>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="add">
      <h3>{{localize "mtte.addSource"}}</h3>
      <div class="actions">
        <button class="browse"><i class="fas fa-folder-open"></i> {{localize "mtte.pickFolder"}}</button>
        <a class="filter" title="{{localize "mtte.filterFiles"}}"><i class="fas fa-filter"></i></a>
        <label for="type">{{localize "mtte.type"}}:</label>
        <select name="type">
          {{#each types as |t|}}
            <option value="{{t}}">{{t}}</option>
          {{/each}}
        </select>
        <div class="creatorPack custom">
          <label for="creator">{{localize "mtte.publisher"}}:</label>
          <input type="text" id="creator" name="creator" minlength="1" maxlength="120">
          <label for="pack">{{localize "mtte.pack"}}:</label>
          <input type="text" id="pack" name="pack" minlength="1" maxlength="120">
        </div>
        <div class="creatorPack auto descr" style="display: none">
          {{localize "mtte.automaticCreatorsTooltip" }}
        </div>
        <input type="checkbox" id="auto" name="auto" value="1" title="{{localize "mtte.automaticCreatorsTooltip"}}">
        <label class="cb" for="auto" title="{{localize "mtte.automaticCreatorsTooltip"}}"> {{localize "mtte.automaticCreators"}}</label>
        <button class="add"><i class="fas fa-plus-circle"></i> {{localize "mtte.actionSourceAdd"}}</button>
      </div>
    </div>
    <div class="update">
      <h3>{{localize "mtte.updateSource"}}</h3>
      <div class="actions">
        <input type="hidden" id="idxEdit" name="idx">
        <a class="filter" title="{{localize "mtte.filterFiles"}}"><i class="fas fa-filter"></i></a>
        <div class="creatorPack custom">
          <label for="creatorEdit">{{localize "mtte.publisher"}}:</label>
          <input type="text" id="creatorEdit" name="creator" minlength="1" maxlength="120">
          <label for="packEdit">{{localize "mtte.pack"}}:</label>
          <input type="text" id="packEdit" name="pack" minlength="1" maxlength="120">
        </div>
        <div class="creatorPack auto descr" style="display: none">
          {{localize "mtte.automaticCreatorsTooltip" }}
        </div>
        <input type="checkbox" id="autoEdit" name="auto" value="1" title="{{localize "mtte.automaticCreatorsTooltip"}}">
        <label class="cb" for="auto" title="{{localize "mtte.automaticCreatorsTooltip"}}"> {{localize "mtte.automaticCreators"}}</label>
        <button class="update"><i class="fas fa-edit"></i> {{localize "mtte.actionSourceUpdate"}}</button>
        <button class="cancel"><i class="fas fa-times"></i> {{localize "mtte.cancel"}}</button>
      </div>
    </div>
  </div>

</div>
</form>
